# Find the Perfect Location for a New Restaurant

## Introduction/Business Problem

Thousands of people dream of starting and owning a successful restaurant. In almost every case the path to entrepreneurial success  starts with choosing the right location for their new restaurant. Clearly that's not easy, though, since every year thousands of restaurants fail. But some don't, even for first-time restaurant owners.
In our project we are going to help the new restaurant owners to choose the perfect location for their restaurant. Because the good location implies a good profit.
The question is : How to choose the best place for a restaurant ?
We are going to find the places with

## Data section

In our problem we are going to use the Foursquare location data of Toronto to help restaurant owners to choose the best place in toronto to open their restaurant

**First we extract Table from wikipedia**

In [1]:
# Extract table from wikipedia
from IPython.core.display import HTML
from pandas.io.html import read_html
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikitables = read_html(page, attrs={"class": "wikitable"})
print("Extracted {num} wikitables".format(num = len(wikitables)))

Extracted 1 wikitables

In [2]:
df_toronto = wikitables[0]
df_toronto.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

**Ignore cells with a borough that is Not assigned**

In [3]:
# Ignore cells with a borough that is Not assigned 
df_toronto.drop(df_toronto[df_toronto.Borough == "Not assigned"].index, inplace = True)
df_toronto.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

**Replace '/' by cammas**

In [4]:
# replace / by comma
df_toronto['Neighborhood'] = df_toronto['Neighborhood'].str.replace(' / ', ', ')
df_toronto.head()

  Postal code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

**Get the latitude and the longitude coordinates of each neighborhood**

In [5]:
import numpy as np
from geopy.geocoders import Nominatim
import folium
import requests 
import json
from pandas.io.json import json_normalize
import pandas as pd
df_coor = pd.read_csv('Geospatial_Coordinates.csv')
df_coor.rename(columns={"Postal Code": "Postal code"}, inplace=True)
df_toronto = pd.merge(df_toronto,df_coor,on='Postal code')
df_toronto.head(15)

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
13,M3C,North York,Don Mills,43.725900,-79.340923
14,M4C,East York,Woodbine Heights,43.695344,-79.318389

Now our Data is Ready for the project